<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Teamapt_Monnify::reserved_account" title="Reserved Account" 
        module="Teamapt_Monnify" resource="Teamapt_Monnify::reserved_account" translate="title"
        sortOrder="1000" action="reserved_account" />
    </menu>
</config>
